.hidden {
  visibility: hidden;
}

.overlay {
    background-color: rgba(164, 224, 206, 0.9);
    z-index: 2;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 

.overlay .confirm {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 32px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 12px;
}

.overlay .confirm:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.overlay .confirm:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.overlay .confirm:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
} 


.overlay .alert { 
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.1em;
    color: #EEE;
    animation: rotate 2s ease-in-out alternate infinite;
  }
  .alert:before {
    content: attr(data-shadow);
    color: transparent;
    text-shadow: 0 0 15px #111;
    position: absolute;
    z-index: -1;
    margin: -0.1em 0 0 0;
    animation: skew 2s ease-in-out alternate infinite;
    transform-origin: bottom;
  }
  @keyframes rotate {
    from {
      transform: rotateY(-10deg);
      text-shadow:  1px -1px #CCC,
                    2px -1px #BBB,
                    3px -2px #AAA,
                    4px -2px #999,
                    5px -3px #888,
                    6px -3px #777;
    }
    to {
      transform: rotateY(10deg);
      text-shadow:  -1px -1px #CCC,
                    -2px -1px #BBB,
                    -3px -2px #AAA,
                    -4px -2px #999,
                    -5px -3px #888,
                    -6px -3px #777;
    }
  }
  @keyframes skew {
    from {
      transform: scaleY(0.3) skewX(-15deg);
    }
    to {
      transform: scaleY(0.3) skewX(-20deg);
    }
  }